#stats {
    width: 100%;
    background-color: #212B36;
    color: #7FD660;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    z-index: 1000;
  }
  .navbar-grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
  }
