.quests-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    height: calc(100vh - 120px);
    width: 100%;
    margin-bottom: 80px;
    margin-top: 10px;
  }
  
  .quests-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
  }
  
  .quest-item {
    background: rgba(33, 43, 54, 0.9); /* Darker background */
    backdrop-filter: blur(20px); /* Glass effect */
    color: #7FD660;
    padding: 20px;
    margin: 10px 0;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.1); /* Shadow effect */
    width: 80%;
    max-width: 400px;
    text-align: left;
  }
  
  .quest-name {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .progress-bar-container {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 5px;
  }
  
  .progress-bar {
    height: 20px;
    background-color: #5fa146;
  }
  
  .quest-progress {
    font-size: 0.9em;
  }

  /* Media queries for responsiveness */
@media (max-width: 768px) {
    .quest-item {
      width: 90%; /* Increase width to utilize more space on smaller screens */
      padding: 15px; /* Adjust padding for smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .quest-item {
      width: 95%; /* Further increase width for very small screens */
      padding: 10px; /* Adjust padding for very small screens */
    }
  }