body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #151C23;
  font-weight: 500;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#stats {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  top: 0;
  z-index: 1000;
}

#game {
  margin-top: 60px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content {
  flex: 1;
  margin-top: 60px; /* Height of the top nav bar */
  margin-bottom: 60px; /* Height of the bottom nav bar */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
  padding: 10px; /* Padding around content */
  background-color: #151C23; /* Background color of the content area */
}

/* Top navigation bar */
.top-nav-bar {
  height: 60px; /* Adjust height as needed */
  background-color: #212B36; /* Top nav background color */
  color: #7FD660; /* Text color */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem; /* Font size */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

/* Bottom navigation bar */
.bottom-nav-bar {
  height: 60px; /* Adjust height as needed */
  background-color: #212B36; /* Bottom nav background color */
  color: #7FD660; /* Text color */
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem; /* Font size */
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

.nav-item {
  flex: 1;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.nav-item.active {
  background-color: #388E3C;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  .top-nav-bar {
    height: 50px;
    font-size: 1rem;
  }

  .bottom-nav-bar {
    height: 50px;
    font-size: 0.9rem;
  }

  .content {
    margin-top: 50px; /* Adjust for smaller top nav height */
    margin-bottom: 50px; /* Adjust for smaller bottom nav height */
  }
}

@media (max-width: 480px) {
  .top-nav-bar {
    height: 45px;
    font-size: 0.9rem;
  }

  .bottom-nav-bar {
    height: 45px;
    font-size: 0.8rem;
  }

  .content {
    margin-top: 45px; /* Adjust for smaller top nav height */
    margin-bottom: 45px; /* Adjust for smaller bottom nav height */
  }
}